<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <h3>We've sent the details about you order to: <%=@order.email%> </h3> 
 </div>
</section>

<section class="cart-show">
  <header class="page-header">
    <h1>Your order summary: </h1>
  </header>
    <table class="table table-bordered orders-summary">
      <thead>
      <%@order.line_items.each do |item| %>
       <tr>
          <th>Product name</th>
          <th>Description</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
          <th><%= item.product.name %><img src="<%= item.product.image %>"</th>
          <th><%= item.product.description %></th>
          <th>$<%= item.total_price_cents.to_f / 100 %></th>
          <th><%= item.quantity %></th>
          <th>$<%= (item.total_price_cents.to_f)/100*item.quantity %></th>
        <% end %>
      </tbody>
       <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            $<%= @order.total_cents / 100.0 %>
          </th>
        </tr>
      </tfoot>
    </table>
</section>


  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
