<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <h3>We've sent the details about you order to: <%=@order.email%> </h3> 
 </div>
</section>

<section class="cart-show">
  <header class="page-header">
    <h1>Your order summary: </h1>
  </header>
    <table class="table table-bordered orders-summary">
      <thead>
      <%@order.line_items.each do |item| %>
       <tr>
          <th>Product name</th>
          <th>Description</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
          <th><%= item.product.name %><img src="<%= item.product.image %>"</th>
          <th><%= item.product.description %></th>
          <th>$<%= item.total_price_cents.to_f / 100 %></th>
          <th><%= item.quantity %></th>
          <th>$<%= (item.total_price_cents.to_f)/100*item.quantity %></th>
        <% end %>
      </tbody>
       <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            $<%= @order.total_cents / 100.0 %>
          </th>
        </tr>
      </tfoot>
    </table>
</section>



 <%# create_table "orders", force: :cascade do |t|
    t.integer  "total_cents"
    t.datetime "created_at",       null: false
    t.datetime "updated_at",       null: false
    t.string   "stripe_charge_id"
    t.string   "email"
  end %>

  <%# create_table "line_items", force: :cascade do |t|
    t.integer  "order_id"
    t.integer  "product_id"
    t.integer  "quantity"
    t.integer  "item_price_cents"
    t.integer  "total_price_cents"
    t.datetime "created_at",        null: false
    t.datetime "updated_at",        null: false
  end %>

  <%# create_table "products", force: :cascade do |t|
    t.string   "name"
    t.text     "description"
    t.string   "image"
    t.integer  "price_cents"
    t.integer  "quantity"
    t.datetime "created_at",  null: false
    t.datetime "updated_at",  null: false
    t.integer  "category_id"
  end %>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
